*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    height: 100vh;
    background-color: #dcdcdc;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    width: 100%;
    max-width: 1000px;
    padding: 30px;
    margin: 25% auto;
    gap: 20px;
    background-color: #fff;
    border-radius: 10px;
    overflow: auto;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    position: relative;
}

.container h2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    color: #353636;
    margin-bottom: 20px;
}


.container img{
    width: 50%;
    object-fit: cover;
    border-radius: 20px;
    display: block;
}

@media screen  and (max-width:920px) {
    .container img{
        display: none;
    }

    .container .main-form{
        width: 100%;
    }
    
}

.container form{
    width: 50%;
}
.container label{
    padding-bottom: 5px;
    font-weight: 600;
    font-size: 18px;
    color: rgb(54, 53, 53);
}
.form-area label,input{
    display: block;
}
.container input{
    padding: 10px;
    padding-right: 40px;
    width: 100%;
    border-radius: 10px;
    outline: none;
    color: #353636;
    font-size: 16px;
    font-weight: 500;
    border: 2px solid #ddd;
}
.container h2,.form-area{
    padding-bottom: 20px;
}

.container .form-area{
    position: relative;
}
.form-area.success input{
    border-color: #2ecc71;
}

.form-area.success .check-icon{
    color: #2ecc71;
}

.form-area.error input{
    border-color: #e74c3c;
}

.form-area.error .check-icon,
.form-area.error input::placeholder{
    color: #e74c3c;
}

.check-icon{
    float: right;
    position: absolute;
    right: 10px;
    top: 0;
    top: 43px;
}

#btn{
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    outline: none;
    background-color: #68a4b8;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all ease 0.3s;
}

#btn:hover{
    background-color: #1b9dc9;
}
#btn1{
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    outline: none;
    background-color: #718adb;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all ease 0.3s;
}

#btn1:hover{
    background-color: #3e74c5;
}


.form-success{
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

.success-content{
    width: 50%;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    background-color: #ddd;
    margin: 15% auto;
    box-shadow: 1px 1px 30px 10px rgba(7, 151, 235, 0.2);
    
}
.success-content h2{
    color: #222222;
}

.success-content p{
    font-weight: 500;
    color: #353636;
}

.close-btn{
    float: right;
    font-size: 30px;
    font-weight: bold;
    color: rgb(143, 143, 143);
    cursor: pointer;
}

.close-btn:hover{
    color: rgb(95, 94, 94);;
}

.loading-container{
    display: none;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 999;
}

.loading-icon{
    position: absolute;
    top: 45%;
    left: 50%;
    animation: rotate 2s linear infinite;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid #fff;
    border-top-color: #3498db;
}

@keyframes rotate {
    from{transform: rotate(0deg)}
    to{transform: rotate(360deg)}
}